@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  font-family: 'Balsamiq Sans', sans-serif;
  color: #f00;
  background: linear-gradient(90deg, rgba(146, 223, 254, 0.9332107843137255) 0%, rgba(124, 149, 250, 1) 0%, rgba(146, 223, 254, 0.9332107843137255) 42%, rgba(252, 161, 161, 0.9528186274509804) 64%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  border: 2px solid #000;
  transform: translate(-50%, -50%);
  background-image: url(/images/azula.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-left: 2rem;
  color: black;
}

div > h3 button,
.btn {
  border: 2px solid black;
  background-color: #fff;
  color: black;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 3px 2px;
  line-height: 1.5rem;
}

.text {
  margin-left: 4.7rem;
}

.text h3 {
  position: relative;
  top: 1rem;
  font-size: 1.4rem;
  color: black;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score-list {
  position: relative;
  bottom: 1.5rem;
  border: 2px solid black;
  list-style-type: none;
  width: 200%;
  padding-left: 0;
  border-radius: 3px;
}

.add-score {
  position: relative;
  bottom: 4.5rem;
  font-size: 1.4rem;
}

.add-score h3 {
  margin-left: 2.2rem;
}

.list {
  list-style-type: none;
}

.list li {
  margin-bottom: 1rem;
}

input {
  border: 2px solid black;
  padding: 0.3rem;
  outline: none;
  color: #ff3800;
}

::placeholder {
  color: #000;
  font-weight: 700;
}

.button {
  display: flex;
  justify-content: flex-end;
}

span {
  display: inline-block;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.scores:nth-child(odd) {
  background-color: rgb(123 187 213);
}

.scores:nth-child(even) {
  background-color: rgb(253 151 151);
}
