@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  font-family: 'Balsamiq Sans', sans-serif;
}

h1 {
  margin-left: 8rem;
}

div > h3 button,
.btn {
  border: 2px solid black;
  background-color: #fff;
  color: black;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 3px 2px;
  line-height: 1.5rem;
}

div > h3 button,
.btn:hover {
  cursor: pointer;
}

.text {
  margin-left: 18rem;
}

.text h3 {
  position: relative;
  top: 1rem;
  font-size: 1.4rem;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score-list {
  border: 2px solid black;
  list-style-type: none;
  width: 300%;
  padding-left: 0;
  border-radius: 3px;
}

.add-score {
  position: relative;
  bottom: 6rem;
  font-size: 1.4rem;
}

.add-score h3 {
  margin-left: 2.2rem;
}

.list {
  list-style-type: none;
}

.list li {
  margin-bottom: 1rem;
}

input {
  border: 2px solid black;
  padding: 0.3rem;
}

::placeholder {
  color: #000;
  font-weight: 700;
}

.button {
  display: flex;
  justify-content: flex-end;
}

span {
  display: inline-block;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.scores:nth-child(odd) {
  background-color: #fff;
}

.scores:nth-child(even) {
  background-color: #f0f0f0;
}
